:root {
    --color-blue: #002d5a;  /* Azul de la bandera francesa */
    --color-white: #FFFFFF; /* Blanco de la bandera francesa */
    --color-red: #cf0000;   /* Rojo de la bandera francesa */
    --color-gray: #B39DDB;  /* Color neutral para bordes */
    --color-black: black; /* Texto por defecto */
    --color-gold: #FFD700;   /* Color dorado para las estrellas */
    --color-bg: #EAEAEA; /* Gris tenue para el BG */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    align-items: center;
}

.review-form {
    background-color: var(--color-white);
    padding: 20px;
    border: 1px solid var(--color-blue);
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}

h1 {
    font-family: 'Playfair Display', serif;
    color: var(--color-white);
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

select, input[type="date"], textarea, input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--color-blue);
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 15px;
}

.rating label {
    font-size: 24px;
    color: var(--color-black); 
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}

.rating input {
    display: none;
}

.rating input:checked ~ label {
    color: var(--color-red); 
}

.rating label:hover,
.rating label:hover ~ label {
    color: var(--color-red); 
}

input[type="submit"] {
    background-color: var(--color-red);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #EF7B7B; 
    font-weight: bolder;
}

header, footer {
    background-color: var(--color-blue);
    color: white;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    border: 1px solid var(--color-black);
}

.review-form, header, footer {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.checkbox-group div {
    gap: 10px; 
}

.checkbox-group input[type="checkbox"] {
    vertical-align: middle;
}

.checkbox-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.checkbox-item label {
    order: -1; 
}


@media (min-width: 600px) {
    .review-form {
        width: auto;
        max-width: 500px;
    }
}
